:root {
  --text: "Placeholder Page";
  --background: #2196F3;
  --font: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--background);
  color: var(--font);
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body:before {
  content: var(--text);
  font-size: 16vmin;
}

a {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  width: 225px;
  margin: 0 auto;
  padding: 6px;
  color: inherit;
  border: 3px solid;
  font-size: 3.5vmin;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  background: rgba(0,0,0,.2);
}
