:root {
  --text: "Placeholder Page";
  --background: #2196F3;
  --font: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--background);
  color: var(--font);
  font-family: helvetica, arial, sans-serif;
  font-size: 16vmin;
  text-align: center;
}

body:before {
  content: var(--text);
}
